<!DOCTYPE html>
<html>
  <head>
    <title>AskPG.io</title>
	    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	    <link rel='stylesheet' href='/stylesheets/flat-ui.css' />
	    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="row">
    	<div class="col-xs-12 centerd">
	    	<a href='#'><img src='/images/pg.png' class="centerd" alt='Praise PG' /></a>
    	</div>
    </div>
  </body>
</html>