<!DOCTYPE html>
<html>
  <head>
    <title>AskPG.io</title>
	    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="centerd">
        <a href='#'><img src='/images/pg.png' class="pg" alt='Praise PG' /></a>
        <p>{{ quote }}</p>
      </div>
    </div>
  </body>
</html>
