html,body {
    height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fa6800;
  height: 100%;
  display: table; 
  margin: 0 auto;
}

h1, p {
  color: #fff;
}

a {
  color: #00b7ff;
}
.centerd {
  text-align: center;
}

.pg { 
  -webkit-transition: all 0s ease-in-out;
}
.pg:hover { 
  -webkit-transform: scale(1.01);
}

.container {  
  height: 100%;
  display: table-cell;   
  vertical-align: middle;    
}